<h1>Employee New Sesssion Page</h1>

<%= form_for :session, url: employee_sessions_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Login" %>
<% end %>
