<h1>Welcome <%= @manager.username %></h1>

<p>Organization: <%= @manager.organization.name %></p>
<p>Teams: <%= @manager.teams.each { |team| team.name } %></p>
<p><%= link_to "View all employees", manager_employees_path %></p>
<p><%= link_to "Add an employee", new_manager_employee_path %>

<p><%= link_to "Logout", manager_session_path(@manager), method: "delete" %></p>
