<!DOCTYPE html>
<html>
<head>
  <title>PerformanceReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>
  
<% flash.each do |type, message| %>
  <%= content_tag :div, message, class: "flash_#{type}" %>
<% end %>

<%= yield %>

</body>
</html>
